{% extends 'demo.html' %}


{% block listinvoices %}
{% load static %}


<div class="container-fluid">
    <table class="table table-bordered bg-white mt-4">
                        <thead>
                          <tr>
                            <th scope="col">Document No</th>
                            <th scope="col">Document Name</th>
                            <th scope="col">Last Modified by</th>
                            <th scope="col">Last Modified At</th>
                            <th scope="col">Tagged</th>
                              <th scope="col">Form Filled</th>
                            <th scope="col">Autofill Done</th>
                              <th scope="col">Detail</th>
                            <th scope="col" class="actionColumn" colspan="2">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                        {%for doc in docs%}
                          <tr>
                            <td>{{doc.id}}</td>
                            <td>{{doc.pdf_copy}}</td>
                          <td>{{ doc.last_modified_by_name }}</td>
                          <td>{{ doc.last_modified }}</td>
                            <td>
                                {{ count }} / {{ form.fields|length }}
                            </td>
                            <td>
                                {% if doc.form_input_done %}
                                    <span class="badge badge-success">Success</span>
                                {% else %}
                                    <span class="badge badge-danger">Pending</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if doc.form %}
                                    <span class="badge badge-success">Success</span>
                                {% else %}
                                    <span class="badge badge-danger">Pending</span>
                                {% endif %}
                            </td>
                          <td>
                              {% if doc.invoice %}
                              <a href="{% url 'detail' doc.invoice.id %}">Detail</a>
                              {% else %}
                              <a href="">Not filled yet</a>
                              {% endif %}
                          </td>
                          <td>
                              {% if doc.form_input_done %}
                            <a href="{% url 'update' doc.invoice.id %}" style="margin: 3px" ><i class="fa fa-wrench"></i></a>
                              {% else %}
                            <a href="{% url 'create_id' doc.id %}" ><i class="fa fa-edit" style="margin: 5px"></i></a>
                              {% endif %}
                            <a href="{% url 'delete' doc.id %}" style="margin: 3px" ><i class="fa fa-trash"></i> </a>
                          </td>

                          </tr>
                        {%endfor%}

                        </tbody>
                      </table>
    </div>
{% endblock %}