{% extends 'demo.html' %}


{% block listinvoices %}
    <div class="container-fluid">
<table class="table table-bordered bg-white mt-4">
                        <thead>
                          <tr>
                            <th scope="col">Invoice No</th>
                            <th scope="col">Vendor</th>
                            <th scope="col">GSTIN</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Status</th>
                            <th scope="col" class="actionColumn" colspan="2">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                        {%for invoice in invoices%}
                          <tr>
                            <td>{{invoice.invoice_no}}</td>
                            <td>{{invoice.vendor_name}}</td>
                            <td>{{invoice.phone_number}}</td>
                            <td>{{invoice.invoice_date}}</td>
                            <td>
                                <span class="badge badge-success">Success</span>
                            </td>
                            <td>
                                <div class="invoice-show-inline-block">
                                    <div class="invoice-bar">
                                <a href="{% url 'detail' invoice.id %}" class="btn btn-info btn-sm"><i class="fas fa-info-circle"></i></a>
                                <a href="{% url 'update' invoice.id %}" class="btn btn-primary btn-sm "><i class="fa fa-edit"></i></a>
                                <a href="{% url 'delete' invoice.id %}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a>
                                    </div>
                                    </div>
                            </td>
                          </tr>
                        {%endfor%}

                        </tbody>
                      </table>
    </div>
{% endblock %}