.profileSidebar {
    background-color: #fff;
    width: 250px;
    position: fixed;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.profileSidebar .profileHeader {
    padding: 24px 16px;
}
.profileSidebar .profileLogo {
    color: white;
    border-radius: 50%;
    background-color: #305e88;
    display: inline-block;
   /* padding: 12px;
    */
    height: 48px;
    width: 48px;
    text-align: center;
    line-height: 48px;
    vertical-align: middle;
}
.profileSidebar .sideMenuContainer .listItem {
    padding: 16px 16px;
    font-size: 15px;
    border-bottom: 1px solid #e9e9e9;
}
.profileSidebar .sideMenuContainer .listItem.active {
    border-right: 3px solid #2f5f88;
}
.profileSidebar .sideMenuContainer .listItem.active a {
    color: #2f5f88;
}
.profileSidebar .sideMenuContainer .listItem:first-of-type {
    border-top: 1px solid #e9e9e9;
}
.profileSidebar .sideMenuContainer .listItem:last-of-type {
    border-bottom: none;
}
.profileSidebar .sideMenuContainer .listItem a {
    color: #6d6d6d;
}
.menuDetails {
    margin-left: 270px;
    background-color: white;
}
.dropdown-item:focus {
    outline: none;
}
.form-control[readonly] {
    background-color: #f6f6f6;
    opacity: 1;
}
